@import "./colors.scss";

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }
  .site-nav {
    order: 2;
    background: $white;
    width: 100%;
  }
}

.site-header {
  background: $white;
  height: 95px;
  color: $black;
  display: flex;
  border-bottom: 2px #cccccc solid;
  align-items: center;
}

.logo {
  width: 130px;
  height: 28px;
  padding: 10px;
}
.site-nav {
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $black;
    font-size: 15px;
    padding: 20px;
    display: inline-block;
  }
  //   .active {
  //     a {
  //       font-weight: bold;
  //       color: #62debe;
  //       background: darken(#62debe, 40%);
  //     }
  //   }
}

.dropdown {
  ul {
    display: none;
  }
}
.dropdown:hover {
  ul {
    list-style: none;
    display: block;
    li a {
      text-decoration: none;
      padding: 20px;
    }
  }
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-link {
  color: #62debe;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

.btn-basic {
  width: 120px;
  height: 45px;
  color: $black;
}

.btn-basic-orange {
  @extend .btn-basic;
  background: $orange;
  border: none;
  color: $white;
}

.header-btn {
  @extend .btn-basic;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.header-btn-orange {
  @extend .btn-basic-orange;
}

.main {
  height: auto;
  width: 100%;
  display: flex;
  padding-top: 129px;
  padding-bottom: 172px;
  padding-left: 75px;
}

.main-text {
  flex: 1;
  width: 50%;
  h1 {
    height: 210px;
    line-height: 70px;
    font-size: 65px;
    width: 552px;
  }
  p {
    width: 471px;
    height: 140px;
    font-size: 25px;
  }
  .try-all {
    margin-top: 25px;
    font-size: 15px;
    width: 369px;
    height: 25px;
  }

  .main-btn-orange {
    @extend .btn-basic-orange;
    width: 160px;
    height: 60px;
  }
  .main-btn {
    @extend .btn-basic;
    width: 160px;
    height: 60px;
    margin-left: 10px;
  }
}

.main-image {
  width: 50%;
  margin-top: 22px;
}

.companies {
  background-color: $lightorange;
  width: 100%;
  height: 455px;
  padding-top: 108px;
  padding-bottom: 104px;

  .companies-header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    h1 {
      width: 720px;
      height: 100%;
      font-size: 50px;
      line-height: 60px;
    }
  }

  //companies icons styles
  .company-icons {
    margin-top: 70px;

    ul.social-set {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;
      gap: 100px;
    }
    ul.social-set li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    /* Font Awesome icons */
    a.sociali {
      font-size: 2em;
      line-height: 1.2em;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

.control-localization {
  width: 100%;
  height: 632px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 165px;

  h1 {
    width: 493px;
    height: 120px;
    font-size: 50px;
    line-height: 60px;
  }

  p {
    width: 491px;
    height: 120px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 27px;
  }
}

.shorten-time {
  @extend .control-localization;
  margin-top: 250px;
  p {
    width: 491px;
    height: 120px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 27px;
  }
}

.ensure-quality {
  @extend .shorten-time;
  p {
    width: 491px;
    height: 120px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 27px;
  }
}

.less-work {
  @extend .shorten-time;
  p {
    width: 491px;
    height: 120px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 27px;
  }
}

.what-you-can {
  height: 1033px;
  width: 100%;
  background-color: $ligthsand;
  padding-bottom: 172px;
  .what-you-can-header {
    display: flex;
    justify-content: center;
    text-align: center;
    h1 {
      margin-top: 120px;
      font-size: 50px;
      line-height: 50px;
    }
  }

  .what-you-can-icons {
    display: flex;
    justify-content: center;
    gap: 123px;
    .wrapper {
      width: 303px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-bottom: 75px;
      margin-top: 79px;
      .icon {
        height: 120px;
        width: 160px;
      }
      p {
        text-align: center;
      }
    }
  }
}
.boost-your-localization {
  height: auto;
  width: 100%;
  padding-bottom: 187px;
  .boost-localization-header {
    display: flex;
    justify-content: center;
    text-align: center;
    h1 {
      margin-top: 154px;
      font-size: 50px;
      line-height: 50px;
    }
  }

  .boost-you-localization-icons {
    display: flex;
    justify-content: center;
    gap: 123px;
    .wrapper {
      width: 303px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-bottom: 75px;
      margin-top: 79px;
      .icon {
        height: 179px;
        width: 201px;
      }
      p {
        text-align: start;
      }
    }
  }
}

.review {
  display: flex;
  flex-direction: row;
  height: 468px;
  align-items: flex-start;
  width: 100%;
  background-color: $lightblue;
  .review-text {
    width: 70%;
    margin-top: 63px;
    margin-left: 75px;

    p {
      font-size: 15px;
      margin-top: 23px;
    }
    h3 {
      width: 921px;
      font-size: 30px;
      line-height: 40px;
    }

    .icon {
      width: 116px;
      height: 25px;
      margin-top: 7px;
    }
  }

  .review-image {
    width: 30%;
    img {
      margin-top: 53px;
    }
  }
}
