body {
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }
  .site-nav {
    order: 2;
    background: white;
    width: 100%;
  }
}
.site-header {
  background: white;
  height: 95px;
  color: black;
  display: flex;
  border-bottom: 2px #cccccc solid;
  align-items: center;
}

.logo {
  width: 130px;
  height: 28px;
  padding: 10px;
}

.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  display: inline-block;
}

.dropdown ul {
  display: none;
}

.dropdown:hover ul {
  list-style: none;
  display: block;
}
.dropdown:hover ul li a {
  text-decoration: none;
  padding: 20px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-link {
  color: #62debe;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

.btn-basic, .made-easy .black-button, .main-text .main-btn, .header-btn, .btn-basic-orange, .integrate .integrate-button, .main-text .main-btn-orange, .header-btn-orange {
  width: 120px;
  height: 45px;
  color: black;
}

.btn-basic-orange, .integrate .integrate-button, .main-text .main-btn-orange, .header-btn-orange {
  background: #ff6336;
  border: none;
  color: white;
}

.header-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.main {
  height: auto;
  width: 100%;
  display: flex;
  padding-top: 129px;
  padding-bottom: 172px;
  padding-left: 75px;
}

.main-text {
  flex: 1;
  width: 50%;
}
.main-text h1 {
  height: 210px;
  line-height: 70px;
  font-size: 65px;
  width: 552px;
}
.main-text p {
  width: 471px;
  height: 140px;
  font-size: 25px;
}
.main-text .try-all {
  margin-top: 25px;
  font-size: 15px;
  width: 369px;
  height: 25px;
}
.main-text .main-btn-orange {
  width: 160px;
  height: 60px;
}
.main-text .main-btn {
  width: 160px;
  height: 60px;
  margin-left: 10px;
}

.main-image {
  width: 50%;
  margin-top: 22px;
}

.companies {
  background-color: #ff9c7d;
  width: 100%;
  height: 455px;
  padding-top: 108px;
  padding-bottom: 104px;
}
.companies .companies-header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.companies .companies-header h1 {
  width: 720px;
  height: 100%;
  font-size: 50px;
  line-height: 60px;
}
.companies .company-icons {
  margin-top: 70px;
  /* Font Awesome icons */
}
.companies .company-icons ul.social-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  gap: 100px;
}
.companies .company-icons ul.social-set li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies .company-icons a.sociali {
  font-size: 2em;
  line-height: 1.2em;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
}

.control-localization, .shorten-time, .less-work, .ensure-quality {
  width: 100%;
  height: 632px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 165px;
}
.control-localization h1, .shorten-time h1, .less-work h1, .ensure-quality h1 {
  width: 493px;
  height: 120px;
  font-size: 50px;
  line-height: 60px;
}
.control-localization p, .shorten-time p, .less-work p, .ensure-quality p {
  width: 491px;
  height: 120px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 27px;
}

.shorten-time, .less-work, .ensure-quality {
  margin-top: 250px;
}
.shorten-time p, .less-work p, .ensure-quality p {
  width: 491px;
  height: 120px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 27px;
}

.ensure-quality p {
  width: 491px;
  height: 120px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 27px;
}

.less-work p {
  width: 491px;
  height: 120px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 27px;
}

.what-you-can {
  height: 1033px;
  width: 100%;
  background-color: #fff8e4;
  padding-bottom: 172px;
}
.what-you-can .what-you-can-header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.what-you-can .what-you-can-header h1 {
  margin-top: 120px;
  font-size: 50px;
  line-height: 50px;
}
.what-you-can .what-you-can-icons {
  display: flex;
  justify-content: center;
  gap: 123px;
}
.what-you-can .what-you-can-icons .wrapper {
  width: 303px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 75px;
  margin-top: 79px;
}
.what-you-can .what-you-can-icons .wrapper .icon {
  height: 120px;
  width: 160px;
}
.what-you-can .what-you-can-icons .wrapper p {
  text-align: center;
}

.boost-your-localization {
  height: auto;
  width: 100%;
  padding-bottom: 187px;
}
.boost-your-localization .boost-localization-header {
  display: flex;
  justify-content: center;
  text-align: center;
}
.boost-your-localization .boost-localization-header h1 {
  margin-top: 154px;
  font-size: 50px;
  line-height: 50px;
}
.boost-your-localization .boost-you-localization-icons {
  display: flex;
  justify-content: center;
  gap: 123px;
}
.boost-your-localization .boost-you-localization-icons .wrapper {
  width: 303px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 75px;
  margin-top: 79px;
}
.boost-your-localization .boost-you-localization-icons .wrapper .icon {
  height: 179px;
  width: 201px;
}
.boost-your-localization .boost-you-localization-icons .wrapper p {
  text-align: start;
}

.review {
  display: flex;
  flex-direction: row;
  height: 468px;
  align-items: flex-start;
  width: 100%;
  background-color: #C9E8F2;
}
.review .review-text {
  width: 70%;
  margin-top: 63px;
  margin-left: 75px;
}
.review .review-text p {
  font-size: 15px;
  margin-top: 23px;
}
.review .review-text h3 {
  width: 921px;
  font-size: 30px;
  line-height: 40px;
}
.review .review-text .icon {
  width: 116px;
  height: 25px;
  margin-top: 7px;
}
.review .review-image {
  width: 30%;
}
.review .review-image img {
  margin-top: 53px;
}

.integrate {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1330px;
  text-align: center;
}
.integrate h1 {
  margin: 0 auto;
  height: 150px;
  width: 791px;
  font-size: 65px;
  line-height: 75px;
}
.integrate p {
  margin: 16px 0 90px;
  font-size: 25px;
}
.integrate .integrate-button {
  width: 153px;
  margin-top: 32px;
}

.made-easy {
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
  text-align: center;
  background-color: #ff9c7d;
}
.made-easy h1 {
  margin: 0 auto;
  height: 150px;
  width: 784px;
  font-size: 65px;
  line-height: 75px;
}
.made-easy p {
  margin: 16px 0 90px;
  font-size: 25px;
}
.made-easy .black-button {
  background-color: black;
  color: white;
  width: 160px;
}

.footer {
  background: #eee;
  padding: 92px 0 48px;
}
.footer .container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .columns {
  display: flex;
  padding: 0 0 94px;
  margin: 0 0 48px;
  border-bottom: 1px solid #000;
}
.footer .columns .col:first-child {
  flex: 0 0 370px;
  width: 370px;
  padding: 0 70px 0 0;
  margin: 0 70px 0 0;
  position: relative;
}
.footer .columns .col:first-child .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  display: block;
  margin: 0 0 28px;
}
.footer .columns .col:first-child .frame {
  max-width: 300px;
  margin: 0 0 31px;
}
.footer .columns .col:first-child .foot-logo img {
  margin: 0 0 6px;
  height: 32px;
  width: 80px;
}
.footer .columns .col:first-child .case {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 20px;
}
.footer .columns .col:first-child .more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #000;
  position: relative;
  display: inline-block;
  padding-right: 28px;
}
.footer .columns .col:first-child col:first-child:after {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 6px;
  content: "";
  background: #000;
  width: 1px;
}
.footer .columns .col:last-child {
  flex: 1 1 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */